@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lora-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lora-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oxy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Oxygen-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oxy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Oxygen-Regular.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0 auto;
  color: white;
}
.page-header {
  height: 500px;
  background-image: url(../images/header_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.page-header__wrapper {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
}
.page-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header__home-button {
  font-family: "Lora", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.page-header__navigation-bar {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
}
.page-header__link {
  padding: 27px;
  text-transform: uppercase;
  font-family: "Oxy", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.page-header__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 426px;
}
.page-header__body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 159px;
}
.page-header__slogan {
  font-family: "Lora", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 51px;
  margin: 0;
}
.page-header__text {
  color: rgba(255, 255, 255, 0.63);
  font-family: "Oxy", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.button {
  width: 167px;
  height: 44px;
  border: none;
  border-radius: 3px;
  background-color: #dd783f;
  color: white;
  font-family: "Oxy", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.nav {
  width: 960px;
}
.page-main__nav {
  margin: 0 auto;
  padding: 9px 0 10px;
  height: 65px;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav__item {
  height: 46px;
  width: 139px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__link {
  color: #768088;
  font-family: "Lora", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.posts {
  height: 1225px;
  background-color: #f7f7f7;
}
.posts__featured {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 414px;
  width: 940px;
  margin: 0 auto;
  padding: 60px 0 7px;
}
.title-of-section {
  height: 44px;
}
.title-of-section p {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #2e2e2e;
  font-family: "Oxy", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 2px;
}
.title-of-section p::before {
  position: absolute;
  bottom: -18px;
  left: 0px;
  right: 0px;
  content: "";
  display: block;
  height: 1px;
  background-color: #dedede;
}

.posts__cards {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column-reverse;
  padding: 15px 20px;
  height: 280px;
  width: 460px;
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Oxy", sans-serif;
  font-weight: 400;
}
.card--the_road_ahead {
  background-image: url(../images/card-back1.jpg);
}
.card--from_top_down {
  background-image: url(../images/card-back2.jpg);
}

.card__blockquote {
  height: 35px;
  display: flex;
  align-items: center;
  order: -1;
  color: rgba(255, 255, 255, 0.7);
}

.card__title {
  order: 1;
  margin-bottom: 6px;
  color: white;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 30px;
}
.card__text {
  order: 0;
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 25px;
}
.avatar {
  height: 26px;
  width: 26px;
  margin-right: 10px;
  border-radius: 60px;
  overflow: hidden;
  /* outline: 2px solid greenyellow;
  outline-offset: -2px; */
}

.blockquote__data {
  margin-left: auto;
}
.posts__recent {
  height: 752px;
  width: 940px;
  margin: 0 auto;
  padding-top: 60px;
}

.posts__recent-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  height: 607px;
}

.recent-card {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 293px;
  color: #101315;
  background-color: #f7f7f7;
}

.recent-card__slogan {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  padding: 14px 13px;
  height: 93px;
  width: 296px;
}
.recent-card__slogan h2 {
  margin-bottom: 6px;
  color: #101315;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.recent-card__slogan p {
  color: #7a7a7a;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
}
.recent-card__blockquote {
  display: flex;
  align-items: center;
  padding: 12px 13px 10px;
  height: 48px;
  margin-top: auto;
  background-color: #fcfcfc;
}
.recent-card__data {
  margin-left: auto;
  color: #999999;
  font-family: "Oxy", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
.recent-card__author {
  color: #999999;
  font-family: "Oxy", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}
